@use '../utilities/mixins' as *;

.navBox {
  background: var(--black-color);
  @include brownBorder;
  padding: 6px;
  position: relative;
  margin-bottom: 15px;

  & > h3 {
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: normal;
    position: absolute;
    left: 0px;
    top: -8px;
    text-align: center;
    width: 100%;
  }
  &_list > li {
    margin: 3px 0px;
  }
}

.list_link {
  color: var(--primary-color);
  font-size: 1.3rem;
  padding: 2px 0 2px 30px;
  position: relative;
  // line-height: 1.4;

  &:hover {
    text-decoration: underline;
  }
}
//------- NAV ICONS ---------

$icon-list: (
  //game nav box
  arrow: 'arrow.gif',
  world: 'world.gif',
  star: 'star.gif',
  news: 'news.gif',
  mobile: 'mobile.png',
  //community nav box
  polls: 'polls.gif',
  highscores: 'highscore.gif',
  exchange: 'exchange.gif',
  forums: 'forums.gif',
  shop: 'shop.gif',
  wiki: 'wiki.png',
  // Account nav box
  member: 'member.gif',
  bonds: 'bonds.gif',
  settings: 'settings.png',
  auth: 'auth.png',
  support: 'support.png'
);

@each $name, $url in $icon-list {
  .#{$name}:before {
    background: url('../img/nav-imgs/#{$url}') no-repeat center;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    width: 30px;
    position: absolute;
  }
}
