:root {
  --primary-color: #90c040;
  --white-color: #fff;
  --black-color: #000;
  --border-color: #382418;
  --title-color: #6d4211;
  --accentTitle-color: #7b4f17;
  --webpage-width: 900px;

  --font-13: 1.3rem;
}
