.footer {
  display: block;
  margin: 20px auto 0px auto;
  position: relative;
  text-align: center;
  width: 815px;
  &_logo {
    left: 15px;
    position: absolute;
    top: 11px;

    & > img {
      width: 80px;
    }
  }

  &_signal {
    background: url('../img/signal-img.png') no-repeat center;
    height: 21px;
    position: absolute;
    right: 20px;
    top: 15px;
    width: 21px;
  }
}

.marginBottom {
  height: 20px;
}
